<div ng-app="baseballApp">

	<div ng-controller="BaseballController">

		<div id="visContainer">

			<h1>A Year in Baseball Project</h1>
			<h3>An exploration of the most exciting pennant races in Major League Baseball history</h3>

			<div class="yearsDiv group">
				<div class="yearClick" ng-click="changeYear('1908')"><div class="yearTitle">1908</div> <div class="divisionTitle">NL</div></div>
				<div class="yearClick" ng-click="changeYear('2013')"><div class="yearTitle">2013</div> <div class="divisionTitle">NL West</div></div>
			</div>

			<div id="visTextContainer">
				
				<div id="seasonIntro" ng-show="teamView === false">
					<h2 ng-show="yearData.id == '1908'">1908 National League</h2>
					<h2 ng-show="yearData.id == '2013'">2013 National League West</h2>
					<div class="teamDescr">{{yearData.description}}</div>
				</div>

				<div id="teamInfo" ng-show="teamView === true">
					<h2>{{teamInfo.city}} {{teamInfo.name}}</h2>
					<div class="teamDescr">{{teamInfo.description}}</div>
				</div>

				<div class="teamTags">
					<team-tag class="teamTag {{t.id}}" ng-repeat="t in teams" id="{{t.id}}" ng-click="getThisTeam(t.id)">{{t.id}}</team-tag>
				</div>

			</div>
			
			<div line-graph id="line-graph" ng-click="getTeamData" ng-mousemove="getDayGames" ng-mouseleave="removeGameTooltip"></div>
			<game-tooltip ng-show="gameTooltipView" ng-class="{ fadeIn : gameTooltipView }"></game-tooltip>

			<!-- <h3>Baseball Events</h3> -->
			<div timeline id="time-line" ng-mouseover="getEventData" ng-mouseout="removeEventTooltip"></div>

			<event-tooltip ng-show="eventTooltipView" ng-class="{ fadeIn : eventTooltipView}"></event-tooltip>
		</div>


	</div>

	<div class="about">

		<em>The Year in Baseball Project was produced by <a href="https://github.com/nickmro" target="_blank">Nick Mrozowski</a> as a project for General Assembly's <a href="https://generalassemb.ly/education/web-development-immersive">Web Development Immersive</a> program. Learn more about the project and the technologies used at the project's <a href="https://github.com/nickmro/Year-in-Baseball-Project" target="_blank">Github page</a></em>. 
	</div>

</div>