<div ng-app="baseballApp">

	<div ng-controller="BaseballController">

		<div id="runSim">Run</div>

		<div line-graph id="line-graph"></div>

		<div gb-graph id="gb-graph"></div>

		<div games-map id="games-map"></div>

	</div>

</div>