<div ng-app="baseballApp">

	<div ng-controller="BaseballController">

		<div id="visContainer">

			<h1>A Year in Baseball Project</h1>
			<h3>An exploration of the most exciting pennant races in Major League Baseball history</h3>

			<div ng-click="changeYear('1908')">1908</div>
			<div ng-click="changeYear('2013')">2013</div>

			<div id="visTextContainer">
				
				<div id="seasonIntro" ng-show="teamView === false">
					<h2>1908 National League</h2>
					<div class="teamDescr">The 1908 Major League Baseball Season has been considered by many to be among the most exciting seasons of all time. At its completion, the top three teams in each league were within one game of each other, but only one from each could qualify for the playoffs. The Chicago Cubs and New York Giants finished the season tied for first in the National League - thanks to the infamous <a href="http://en.wikipedia.org/wiki/Merkle's_Boner">Merkle's Boner</a> incident - and were forced to play a one-game playoff to qualify for the World Series. The Cubs went on to win the game and the championship - the last time the team has won the Majors' highest prize. </div>
				</div>

				<div id="teamInfo" ng-show="teamView === true">
					<h2>{{teamInfo.city}} {{teamInfo.name}}</h2>
					<div ng-show="teamInfo.id == 'CHC'" class="teamDescr">The 1908 season represents the last season in which the Chicago Cubs won the World Series. Throughout the season, the team managed to stay above a .500 win percentage and maintained a first place position for much of the first half, but fell to third in the second half. Thanks to a strong finish, the Cubs were able to tie the New York Giants for first place. After beating the Giants in a one-game playoff, the team defeated the Detroit Tigers to win the World Series. </div>
					<div ng-show="teamInfo.id == 'NYG'" class="teamDescr">The New York Giants had a strong season in 1908. After spending its first half hovering just above a .500 win percentage, the team surged in the second half, managing to finish the season tied for first place with the Chicago Cubs. Unfortunately, a base-running mistake by Fred Merkle, known as <a href="http://en.wikipedia.org/wiki/Merkle's_Boner">Merkle's Boner</a>, cost the team sole possession of first place. The team then lost a one-game playoff to determine the winner of the National League Pennant.</div>
					<div ng-show="teamInfo.id == 'PIT'" class="teamDescr">The Pittsburgh Pirates had a remarkably strong season in 1908. Tied for first place before the last game of the season on October 4, the team lost 5-2 to the Cubs in Chicago. Noteworthy during that season was the performance of Shortstop <a href="http://en.wikipedia.org/wiki/Honus_Wagner">Honus Wagner</a>, who led the Major Leagues in both AVG (.354) and RBIs (109) and was just two home runs short of the triple crown (12). He was also the leader in stolen bases (53), on-base percentage (.415), and slugging percentage (.542).</div>
					<div ng-show="teamInfo.id == 'PHI'" class="teamDescr">Although the Philadelphia Phillies performed well in 1908, they finished the year in fourth place in the National League, well back of top three teams. On July 6 the team fell to its worst record of the season after a loss to the Pittsburgh Pirates. With a record of 27-35, the team turned their season around, soaring to 57-45 on August 18. However, the team was not able to keep up the momentum and finished the season 15 games behind the Chicago Cubs.</div>
					<div ng-show="teamInfo.id == 'CIN'" class="teamDescr">The 1908 season was a rather mediocre one for the Cincinnati Reds. On June 2, the team stood in second place, only one game behind the Chicago Cubs. However, a poor road trip quickly undid the team. On August 4, the team fell under a .500 win percentage after a pair of losses to the New York Giants. At the end of the year, the team stood at 73-81, 25 games behind the Chicago Cubs.</div>
					<div ng-show="teamInfo.id == 'BSN'" class="teamDescr">For the first month and a half of the 1908 season, the Boston Doves managed to hover around a .500 win percentage. At the year's conclusion, the team stood at 63-91, 35 games behind the Chicago Cubs. In the final three games of the season, the Doves were swept by the New York Giants in a three-game series, setting the stage for the Giants' fateful showdown with the Chicago Cubs.</div>
					<div ng-show="teamInfo.id == 'BRO'" class="teamDescr">Finishing with 101 losses, the 1908 season was just shy of the franchise record 105 losses set in 1905 (including the Brooklyn and Los Angeles Dodgers). The team was at the wrong end of a pair of historic pitching performances that year: a no-hitter by Nat Rucker and two shut outs in the same day by Ed Reaulbach. Manager Patsy Donovan was fired at the end of the season. </div>
					<div ng-show="teamInfo.id == 'STL'" class="teamDescr">The 1908 campaign was a season to forget for the St. Louis Cardinals. With a win percentage of only .318, the team finished 47 games behind the Chicago Cubs. Amazingly, the team has had several worse seasons, most notably in 1897 when the team only won 29 games (out of 131). To this day, the 1908 Cardinals hold the record for the fewest bases on balls received in a season at only 282.</div>
				</div>

				<div class="teamTags">
					<team-tag class="teamTag {{t.id}}" ng-repeat="t in teams" id="{{t.id}}" ng-click="getThisTeam(t.id)">{{t.id}}</team-tag>
				</div>

			</div>
			
			<div line-graph id="line-graph" ng-click="getTeamData" ng-mousemove="getDayGames" ng-mouseleave="removeGameTooltip"></div>
			<game-tooltip ng-show="gameTooltipView" ng-class="{ fadeIn : gameTooltipView }"></game-tooltip>

			<!-- <h3>Baseball Events</h3> -->
			<div timeline id="time-line" ng-mouseover="getEventData" ng-mouseout="removeEventTooltip"></div>

			<event-tooltip ng-show="eventTooltipView" ng-class="{ fadeIn : eventTooltipView}"></event-tooltip>
		</div>


	</div>

</div>