/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

#line-graph{
	width: 800px;
	margin: 0 auto;
}

#visContainer{
	position: relative;
	margin: 0 auto;
	width: 800px;
	font-family: "Open Sans Condensed", sans;

	h2{
		font-size: 40px;
		font-weight: 300;
		margin: 5px 0;
	}

	h3{
		font-size: 20px;
		font-weight: 300;
		margin: 10px 0;
	}

	#visTextContainer{
		position: absolute;
		width: 400px;
		z-index: 1;

	}

	#line-graph{
		position: relative;
	}

	game-tooltip{
		position: absolute;
		width: 150px;
		padding: 10px 10px 25px;
		background-color: rgba(255,255,255,1);
		border: solid black 1px;
		border-radius: 3px;
		z-index: 2;
		font-family: "Open Sans Condensed", sans;
		font-size: 16px;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
	
		.gameTooltipTitle{
			position: relative;
			font-size: 16px;
			font-weight: 700;
			margin: 10px 0 0 0;
			text-align: center;
		}

		.gameTooltipGames{
			position: relative;
			margin: 0 0 10px 0;
			text-align: center;

			.gameLocation{
				margin: 0 0 15px 0;
			}

			.individualGameData{
				padding: 0 0 10px 0;

				.result{
					width: 40%;
					float: left;

					.win, .loss, .tie{
						width: 20px;
						height: 20px;
						margin: 10px auto;
						border-radius: 50%;
						font-size: 15px;
						color: white;
						text-align: center;
					}

					.win{
						background-color: #006837;
					}

					.loss{
						background-color: #a50026;
					}

					.tie{
						background-color: #fee08b;
					}
				}

				.gameSubData{
					width: 59%;
					float: right;
				}

				.group:after{
				 	content: "";
				 	display: table;
				 	clear: both;
				}
			}
		}

		.gameTooltipNoGame{
			margin: 10px 0 0 10px;
			text-align: center;
		}

	}

	#time-line{
		position: relative;
		margin: 2px 0;
	}

	event-tooltip{
		position: absolute;
		bottom: 40px;
		width: 300px;
		padding: 10px 15px 20px;
		background-color: rgba(255,255,255,1);
		border-radius: 3px;
		border: solid black 1px;
		z-index: 2;
		font-family: "Open Sans Condensed", sans;
		font-size: 15px;
		-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
		-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);
		box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);

		.eventTooltipTitle{
			font-size: 14px;
			font-weight: 700;
			margin: 0 0 5px;
		}
	}

}